@import "colors";

@mixin make-css-variables($variables) {
    @each $name, $value in $variables {
      --#{$name}: #{$value};
    }
}

@mixin color-var($property, $name) {
    #{$property}: map-get($colors, $name);
    #{$property}: var(--#{$name});
}
