.image-slideshow {

    .slideshow-image {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    .slideshow-image {
        $transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1);

        &-exit {
            // Start wherever the image is
            &-active {
                // and animate out to the left of the screen.
                -webkit-transition: $transition;
                transition: $transition;
                transform: translateX(-100%);
            }

            &-done {
                // Hide when animation finishes.
                display: none;
            }
        }

        &-enter {
            // Start from the right side
            transform: translateX(100%);

            &-active {
                // and animate in to the left to be centered on the screen.
                -webkit-transition: $transition;
                transition: $transition;
                transform: translateX(0);
            }
        }
    }
}
