@import-normalize;
@import "colors";
@import "mixins";
@import "variables";

@font-face {
    font-family: "aaarghnormal";
    src: url("./assets/fonts/aaargh-webfont.woff2") format("woff2"),
         url("./assets/fonts/aaargh-webfont.woff") format("woff"),
         url("./assets/fonts/aaargh-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    @include make-css-variables($colors);
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
}

* {
    box-sizing: border-box;
    font-family: "aaarghnormal", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

button {
    @include color-var("background-color", "secondary");
    outline: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    color: white;

    &.primary {
        @include color-var("background-color", "primary");
    }
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    @include color-var("background-color", "background");
}

.modal-delete-photo {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        margin-bottom: 8px;
    }

    img {
        margin-bottom: 8px;
    }

    .buttons {
        button {
            min-width: 32px;
            min-height: 32px;
        }

        .btn-yes {
            margin-right: 8px;
        }
    }
}