@import "mixins";

.header {
    padding: 4px;
    @include color-var("background-color", "primary");
    height: 50px;
    display: flex;
    align-items: center;
    color: white;
    flex-shrink: 0;

    .logo {
        margin-left: 10px;
        position: absolute;
    }

    .title {
        flex-grow: 1;
        text-align: center;
        font-size: 1.4rem;
    }
}

.content {
    display: flex;
    flex-direction: column;
    @include color-var("color", "primary");
    overflow-y: hidden;

    .global-spinner {
        margin-top: 16px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .lbl-add-photo {
        background: transparent;
        @include color-var("color", "primary");
        flex-grow: 1;
        @include color-var("border-color", "primary");
        height: 40px;
        line-height: 38px;
        margin: 8px;
        text-align: center;
    }

    #image-selection-input {
        display: none;
    }

    .no-photos {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 16px;
        margin-right: 16px;
        padding: 4px;

        .action-arrow {
            transform: rotateZ(270deg);
            margin-bottom: 12px;
            margin-right: -4px;

            @keyframes pointing {
                100% { transform: rotateZ(270deg) translateX(-6px) }
            }
        
            @include color-var("fill", "primary");
            animation: pointing 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0s infinite;
            animation-direction: alternate;
        }
    }

    .photos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        overflow-y: auto;

        img {
            margin: 8px;
            border-radius: 4px;
        }

        .loading-image {
            margin: 8px;
            border: 1px solid;
            @include color-var("border-color", "primary");
        }
    }
}

.footer {
    font-size: 0.8rem;
    position: fixed;
    right: 4px;
    bottom: 4px;
    font-family: monospace;
}