.photo-container {
    position: relative;
}

.delete-photo {
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 12px;
    bottom: 16px;
    width: 32px;
    height: 32px;

    button {
        width: 32px;
        height: 32px;
        background: transparent;
        border: none;
        outline: none;
        background-image: url(./assets/images/delete.svg);
        background-size: contain;
        background-origin: content-box;
        background-repeat: no-repeat;
        padding: 8px;
        cursor: pointer;
    }
}